<a href="https://colab.research.google.com/github/B2221120/Prmn2023a/blob/main/PythonBasic_2_Question_ipynb_%E3%81%AE%E3%82%B3%E3%83%94%E3%83%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第2章 課題

## 課題1

for文を使って、以下のように出力してください

![oSFeQoX.png](https://i.imgur.com/oSFeQoX.png)

In [ ]:
# 入力用

for i in range(1,5):
  x = 4-i
  y = 2*i-1
  print(' '*x,'*'*y)

    *
   ***
  *****
 *******

## 課題2

課題1の場合を`n=4`として、nを自分で設定して出力できるようにしてください

＜例＞ n=5の場合  
![o5NjugQ.png](https://imgur.com/o5NjugQ.png)

In [ ]:
# 入力用

n = int(input('n ='))
for i in range(1,n+1):
  x = n-i
  y = 2*i-1
  print(' '*x,'*'*y)

n =5
     *
    ***
   *****
  *******
 *********

## 課題3

for文を使って、以下のように出力してください

![oSirXec.png](https://imgur.com/oSirXec.png)

In [ ]:
# 入力用

for i in range(1,5):
  x = 4-i
  y = 2*i-1
  print(' '*x,'*'*y)

for j in range(3,0,-1):
  a = 4-j
  b = 2*j-1
  print(' '*a,'*'*b)

    *
   ***
  *****
 *******
  *****
   ***
    *

## 課題4

課題3の場合を`n=4`として、nを自分で設定して出力できるようにしてください

＜例＞ n=5の場合  

![my4J17V.png](https://i.imgur.com/my4J17V.png)

In [ ]:
# 入力用

n = int(input('n ='))
for i in range(1,n+1):
  x = n-i
  y = 2*i-1
  print(' '*x,'*'*y)

for j in range(n-1,0,-1):
  a = n-j
  b = 2*j-1
  print(' '*a,'*'*b)

n =5
     *
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *

## 課題5

for文を使って、以下のように出力してください

![vDUi5eM.png](https://imgur.com/vDUi5eM.png)

In [ ]:
# 入力用

for i in range(1,5):
  if (i==4):
    print('*'*13)
  else:
   x = 4-i
   y = 2*i-1
   z = 7-2*i

   print(' '*x,'*'*y,' '*z,'*'*y,sep = '')

for j in range(3,0,-1):
  a = 4-j
  b = 2*j-1
  c = 7-2*j
  print(' '*a,'*'*b,' '*c,'*'*b,sep = '')

   *     *
  ***   ***
 ***** *****
*************
 ***** *****
  ***   ***
   *     *

## 課題6

課題5の場合を`n=4`として、nを自分で設定して出力できるようにしてください

＜例＞ n=5の場合  

![udkVlYG.png](https://imgur.com/udkVlYG.png)

In [ ]:
# 入力用

n = int(input('n ='))
for i in range(1,n+1):
  if (i==n):
    a = 2*n-1
    print('*'*(2*a-1))
  else:
   x = n-i
   y = 2*i-1
   z = 2*x-1

   print(' '*x,'*'*y,' '*z,'*'*y,sep = '')

for j in range(n-1,0,-1):
  a = n-j
  b = 2*j-1
  c = 2*a-1
  print(' '*a,'*'*b,' '*c,'*'*b,sep = '')

n =5
    *       *
   ***     ***
  *****   *****
 ******* *******
*****************
 ******* *******
  *****   *****
   ***     ***
    *       *

## 課題7

for文を使って、以下のように出力してください

![IuP0M16.png](https://imgur.com/IuP0M16.png)

In [ ]:
# 入力用

for m in range(2):
  for i in range(1,5):
    if (i==4):
      print('*'*13)
    else:
      x = 4-i
      y = 2*i-1
      z = 7-2*i

      print(' '*x,'*'*y,' '*z,'*'*y,sep = '')

  for j in range(3,1,-1):
    a = 4-j
    b = 2*j-1
    c = 7-2*j
    print(' '*a,'*'*b,' '*c,'*'*b,sep = '')

print(' '*3+'*'*1+' '*5+'*'*1)

   *     *
  ***   ***
 ***** *****
*************
 ***** *****
  ***   ***
   *     *
  ***   ***
 ***** *****
*************
 ***** *****
  ***   ***
   *     *

## 課題8

課題7の場合を`n=4`として、nを自分で設定して出力できるようにしてください

＜例＞ n=5の場合  

![AlTnu1k.png](https://imgur.com/AlTnu1k.png)

In [ ]:
# 入力用

n = int(input('n ='))
for m in range(2):
  for i in range(1,n+1):
    if (i==n):
      a = 2*n-1
      print('*'*(2*a-1))
    else:
      x = n-i
      y = 2*i-1
      z = 2*x-1

    print(' '*x,'*'*y,' '*z,'*'*y,sep = '')

  for j in range(n-2,1,-1):
    a = n-j
    b = 2*j-1
    c = 2*a-1
    print(' '*a,'*'*b,' '*c,'*'*b,sep = '')

k = n-1
l = 2*k-1
print(' '*k+'*'*1+' '*l+'*'*1)

n =5
    *       *
   ***     ***
  *****   *****
 ******* *******
*****************
 ******* *******
  *****   *****
   ***     ***
    *       *
   ***     ***
  *****   *****
 ******* *******
*****************
 ******* *******
  *****   *****
   ***     ***
    *       *